
<Panel Background="#f00" Width="100" Height="100">
    <Panel Background="#00f" Width="20" Height="30"></Panel>
    <Panel Background="#0ff" Width="20" Height="30" MarginLeft="0"></Panel>
</Panel>
@*<Button></Button>*@
@*<TestElement Test="123"></TestElement>*@